@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --main-bg-color: #2b210b;
    --main-txt-color: #b9c0d4;
    --tth-color: #207e57;
    --fth-color: #1A090D;
    --linkhover-bg-color: linear-gradient(#dddb7a, #c8d25b, #000000);
    --buttonhover-bg-color: linear-gradient(#08474A, #095256);
}

    /* O asterisco seleciona todos os elementos de pagina HTML */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: Montserrat;
}
xmp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.00rem;
    font-weight: bolder;
    margin-left: 40.00px;
    color: rgb(90, 93, 734)
}
xmp1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.00rem;
    font-weight: bolder;
    margin-left: 105px;
    color: rgb(90, 93, 734)
}
#menu{
    gap: 3%;
    /* margin-left: 50px; */
    /* margin-top: 0px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
    font-weight: bolder;
    list-style-type:none;
    justify-content: right;
    display:flex;
    padding: 20px 50px;
    border-bottom: 5px solid #41351c;
}
nav a{
    width: 100%;
    text-decoration: none;
    color: #b9c0d4;
    /* text-align: center; */
    /* align-items: center; */
}
.apresentacao{
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.apresentacao_texto{
        font-size: 1.50rem;
        color: aqua;
    }
.apresentacao_titulo{
        font-size: 2.5rem;
        font-family: var(--pri-text-font);
        line-height: 1.2;
        color: #207e57;
    }
.apresentacao_foto_perfil{
        width: 35%;
        /* margin: 0%; */
        border-radius: 360px;
        border: 2.5px outset var(--tth-color);
        box-shadow: var(--fth-color) 8px 8px;
        /* transition: 0.5s ease; */
    }
.rodape{
        width: 100%;
        /* padding: 5%; */
        /* display: flex; */
        /* justify-content: center; */
    }
    
xmp2{
        /* display: flex; */
        /* justify-content: center; */
        margin-left: 100px;
        align-items: center;
        font-size: 50px;
    }
.contatos ul{
        display: flex;
        /* justify-content: space-between; */
        flex-flow: column-reverse;
        /* gap: 10px; */
        /* border-left: 40px; */
    }
    .contatos a{
        text-decoration: none;
        /* font-weight: 500; */
        font-size: 30px;
        line-height: 100px;
        color: #b9c0d4;
        list-style-type: none; /*deixa sem ponto */
    }
    /* .contatos a:hover{
        text-decoration: none;
    } */
    .contatos img{
        width: 50px;
        height: 50px;
        justify-content: right;
        
    }

    #habilidade{
        gap: 3%;
        margin-left: 50px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        font-weight: bolder;
        justify-content: right ;
        list-style-type: none;
        display: flex;
        padding: 20px 50px;
        
    }
    form {
        input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], input[type="password"], textarea{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #faac03;
            border-radius: 5px;
            background-color: #d1cbbf;
            color: #000000;
        }
        input[type="submit"]{
            width: 10%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #faac03;
            border-radius: 5px;
            background-color: #d1cbbf;
            color: #000000;
            cursor: pointer;
        }

    }
    